html {
    font-family: system-ui;
}

h1 {
    float: left;
    padding-left: 30px;
    color: coral;
}

a {
    float: right;
    text-decoration: none;
    color: black;
    padding-left: 50px;
}

nav {
    padding: 30px;
}

#sqr1 {
    height: 100px;
    width: 250px;
    background-color: coral;
    opacity: 50%;
    border-radius: 20px;
    text-align: center;
}

#sqr2 {
    height: 400px;
    width: 250px;
    background-color: coral;
    opacity: 50%;
    border-radius: 20px;
    text-align: center;
}